body {
    color: rgb(30, 144, 255);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 40px;
    color: crimson;
    text-align: center;
    border: 1px solid royalblue;
}



img {
    width: 20%;
    border-radius: 15px;
    box-shadow: 5px 5px 35px rgb(223, 28, 103);
    transition: 0.3s;
}
img:hover {
    transform: scale(1.05, 1.05);
}

a{
    text-decoration: none;
    color: #fff;
    background-color: darkgreen ;
    border-radius: 3px;
    padding: 15px;  
}
a:hover {
    background-color: blue;
}

.rounded {
    border-radius: 15px;
    padding: 10px;
}

.blue {
    background-color: blueviolet;
}

.pink{
    background-color: pink;
}

.block {
    width: 30%;
    border-radius: 35px;
    padding: 20px;
}

.green {
    background-color: greenyellow;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

.block img {
    width: 70%;
}